<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.anjero.reader.module.account.mapper.AccountMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="net.anjero.reader.module.account.pojo.Account">
        <result column="id" property="id"/>
        <result column="avator" property="avator"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="in_time" property="inTime"/>
        <result column="sex" property="sex"/>
        <result column="desc" property="desc"/>
        <result column="type" property="type"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `avator`,
        `username`,
        `password`,
        `nickname`,
        `in_time`,
        `sex`,
        `desc`,
        `type`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO account (
            `id`,
            `avator`,
            `username`,
            `password`,
            `nickname`,
            `in_time`,
            `sex`,
            `desc`,
            `type`
        ) VALUES (
            #{pojo.id},
            #{pojo.avator},
            #{pojo.username},
            #{pojo.password},
            #{pojo.nickname},
            #{pojo.inTime},
            #{pojo.sex},
            #{pojo.desc},
            #{pojo.type}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.avator!=null"> `avator`,</if>
            <if test="pojo.username!=null"> `username`,</if>
            <if test="pojo.password!=null"> `password`,</if>
            <if test="pojo.nickname!=null"> `nickname`,</if>
            <if test="pojo.inTime!=null"> `in_time`,</if>
            <if test="pojo.sex!=null"> `sex`,</if>
            <if test="pojo.desc!=null"> `desc`,</if>
            <if test="pojo.type!=null"> `type`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.avator!=null">#{pojo.avator},</if>
            <if test="pojo.username!=null">#{pojo.username},</if>
            <if test="pojo.password!=null">#{pojo.password},</if>
            <if test="pojo.nickname!=null">#{pojo.nickname},</if>
            <if test="pojo.inTime!=null">#{pojo.inTime},</if>
            <if test="pojo.sex!=null">#{pojo.sex},</if>
            <if test="pojo.desc!=null">#{pojo.desc},</if>
            <if test="pojo.type!=null">#{pojo.type},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO account (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.avator},
            #{pojo.username},
            #{pojo.password},
            #{pojo.nickname},
            #{pojo.inTime},
            #{pojo.sex},
            #{pojo.desc},
            #{pojo.type}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE account
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.avator != null"> `avator` = #{pojo.avator}, </if>
            <if test="pojo.username != null"> `username` = #{pojo.username}, </if>
            <if test="pojo.password != null"> `password` = #{pojo.password}, </if>
            <if test="pojo.nickname != null"> `nickname` = #{pojo.nickname}, </if>
            <if test="pojo.inTime != null"> `in_time` = #{pojo.inTime}, </if>
            <if test="pojo.sex != null"> `sex` = #{pojo.sex}, </if>
            <if test="pojo.desc != null"> `desc` = #{pojo.desc}, </if>
            <if test="pojo.type != null"> `type` = #{pojo.type} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>

<!--auto generated by codehelper on 2017-05-10 16:00:45-->
    <select id="findByUsernameAndPassword" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from account
        where `username`=#{username} and `password`=#{password}
    </select>
</mapper>

